<div class="post_meta">
  {{ $author := index .Site.Data.authors (.Params.author | default "naturalblogarithm") }}
  {{- if $author -}}
      {{ partial "svg/author.svg" (dict "class" "meta_icon") -}}
      <a href='{{ absLangURL (printf "author/%s" $author.stub) }}'>
        {{- $author.name }}
      </a>
  {{- end -}}

  {{ if ( ne .Params.showDate false ) }}
    {{ partial "sprite" (dict "icon" "calendar") }}
    <span class="post_date">
      {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
    </span>
  {{- end }}
  {{- with .Params.tags -}}
    {{- range . }}
      {{- $tag := urlize . }}
      <a href='{{ absLangURL (printf "tags/%s" $tag) }}' class="post_tag button button_translucent">
        {{- . }}
      </a>
    {{- end }}
  {{- end }}
</div>
