<div class="post_meta">
  {{ range $author_elem := .Params.authors}}
    {{ partial "svg/author.svg" (dict "class" "meta_icon") -}}
    {{ $author := index $.Site.Data.authors ($author_elem | default "naturalblogarithm") }}
    <a href='{{ absLangURL (printf "authors/%s" $author.stub) }}'>
      {{- $author.name }}
    </a>
  {{ end }}

  {{ if ( ne .Params.showDate false ) }}
    {{ partial "sprite" (dict "icon" "calendar") }}
    <span class="post_date">
      {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
    </span>
  {{- end }}
  {{- with .Params.tags -}}
    {{- range . }}
      {{- $tag := urlize . }}
      <a href='{{ absLangURL (printf "tags/%s" $tag) }}' class="post_tag button button_translucent">
        {{- . }}
      </a>
    {{- end }}
  {{- end }}
</div>
